.digitalClock {
  .container {
  max-width: 700px;
  margin: 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
  .row {
  padding: 20px;
  text-align: center;
  }
  
  .column {
  padding: 0px;
  max-width: 50%;
  margin: 0 auto;
  }
  
  .title {
  font-size: 1.5em;
  color: #333;
  }
  
  .subTitle {
  font-size: 1em;
  color: #777;
  }
  
  .time {
  font-size: 2.5em;
  font-weight: bold;
  color: #0078d4;
  }
  }